extends layout

block content
  h1= title
  ul
    li Arquitetura de Software
    li Programação Web 2 (Melhor matéria <3)
    li Trabalho de Conclusão de Curso
    li Realidade Virtual
    li Manutenção de Software