extends layout

block content
  h1= title
  #[a(href="https://www.linkedin.com/in/netoneze/") LinkedIn]
  br
  #[a(href="https://github.com/netoneze") GitHub]
  br
  #[a(href="https://netoneze.web.app/") Página de Portfólio]